body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #442903;
    font-size: 16px;
}
 
header {
    background-color: #470400;
    color: white;
    text-align: center;
    padding: 20px;
}
 
nav {
    display: flex;
    justify-content: center;
    background-color: #2b1d0e;
    border-bottom: 2px solid #c9a44c;
}

nav a {
    color: #f4e4c1;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #c9a44c;
    color: #1a1a1a;
}

.seccion {
    background-color: #F3CF96;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
 
/* CONTENEDOR DE IMÁGENES + TEXTO */
.caja {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
 
.fila {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    background-color: #f5e6c8;
    padding: 10px;
    border-radius: 8px;
}
 
/* IMÁGENES */
.fila img {
    width: 80px;
    height: 80px;
    object-fit: cover; 
    border-radius: 6px;
    flex-shrink: 0;
}
 
.texto h3 {
    margin: 0;
    font-size: 16px;
}
 
.texto p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #555;
}
 
footer {
    background-color: #180F01;
    color: white;
    text-align: center;
    padding: 15px;
}
